body {
  background-color: grey;
  font-family: "Roboto", sans-serif;
}
a {
  color: blueviolet;
}
.app-area {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.selected-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.selected-city-metrics {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
}
.selected-city-metrics strong {
  color: #f65282;
  font-weight: 500;
}
.city-form-input {
  background-color: aquamarine;
  border: none;
  padding: 15px 20px;
  border-radius: 6px;
  width: 80%;
  font-size: 17px;
}
.city-form-submit {
  padding: 15px 20px;
  background-color: blueviolet;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
  font-size: 17px;
}

main {
  padding: 30px 0;
}
.headline-temperature-container {
  display: flex;
}
.selected-city-icon {
  font-size: 44px;
  margin-top: 22px;
}
.selected-city-headline-temp {
  font-size: 85px;
  font-weight: bold;
  margin-left: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.headline-temp-unit {
  font-size: 28px;
  margin-top: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.todays-weather-data {
  display: flex;
  justify-content: space-between;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
