body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(220, 217, 249) 0%,
    rgb(172, 224, 217) 89.8%
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 40px;
  color: grey;
}
a {
  color: #3caab9;
}
.app-area {
  background: #fff;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.selected-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: black;
  font-family: "Roboto", sans-serif;
}
.selected-city-metrics {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.6);
  line-height: 24px;
}
.selected-city-metrics strong {
  color: #0c558d;
  font-weight: 500;
}
.city-form-input {
  background-color: #f5f1fe;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  width: 80%;
  font-size: 17px;
}
.city-form-submit {
  padding: 15px 20px;
  background-color: rgba(12, 85, 141, 0.75);
  border: none;
  border-radius: 10px;
  color: white;
  margin-left: 5px;
  font-size: 17px;
}

main {
  padding: 30px 0;
}
.headline-temperature-container {
  display: flex;
}
.selected-city-icon {
  width: 88px;
  line-height: 88px;
}
.selected-city-headline-temp {
  font-size: 80px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  line-height: 1;
}

.headline-temp-unit {
  font-size: 28px;
  margin-top: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: black;
}

.todays-weather-data {
  display: flex;
  justify-content: space-between;
}

.callout-temp-group {
  display: flex;
}

.week-forecast {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.forecast-day-name {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: purple;
  font-weight: bold;
  margin-bottom: 10px;
}

.forecast-day-icon {
  font-size: 38px;
  text-align: center;
}

.forecast-day-temps {
  text-align: center;
  margin-top: 10px;
  color: #0c558d;
  display: flex;
  justify-content: center;
}

.forecast-day-temp {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
